<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Introduction</title>
   </head>
   <body> 
    <div class="container" id="actionContainer">
        <div id="nav" class="u-full-width">
           <ul>
              <li><a href="/">Introduction</a></li>
              <li><a href="sed">SED</a></li>
              <li><a href="audio_captioning">Audio Captioning</a></li>
              <li><a href="contacts">Contacts</a></li>
           </ul>
           <hr class="navLine">
        </div>
        <h3> Contacts </h3>
        </div>
     </div>
    <div class="container">
        Lorem ipsum dolor sit amet, cibo choro doctus mel an.
        Eu veniam repudiare eam, id labitur aliquid consulatu duo.
        Est wisi audiam accommodare ad. Iracundia voluptaria honestatis pri ea.
        Error possim definitionem nec ad. Laoreet atomorum ne cum.
    </div>
   </body>
<link rel="stylesheet" href="../static/css/normalize.css">
<link rel="stylesheet" href="../static/css/skeleton.css">
<link rel="stylesheet" href="../static/css/custom.css">
<script src="https://d3js.org/d3.v4.js"></script>
<script src="{{ url_for('static', filename='js/test.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
</html>