<div class="dropdown">
    <button class="dropbtn">Settings</button>
    <div class="dropdown-content">
       <div class="slidecontainer">
          <p>Upload top n classes:</p>
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
          <hr>
          <p>Listen top n classes:</p>
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
          <hr>
          <p>Listen timeframe:</p>
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
          <hr>
          <p>Use overlap:</p>
          <input type="checkbox">
          <hr>
          <button id=resetDefault>Reset settings</button>
       </div>
    </div>
 </div>