<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>SED</title>
   </head>
   <body>
      <div class="container" id="actionContainer">
         <div id="nav" class="u-full-width">
            <ul>
               <li><a href="/">Introduction</a></li>
               <li><a href="sed">SED</a></li>
               <li><a href="audio_captioning">Audio Captioning</a></li>
               <li><a href="contacts">Contacts</a></li>
            </ul>
            <hr class="navLine">
         </div>
         <h3> Sound Event Detection </h3>
         <div class="row">
            <div class="u-pull-left six columns">
               <div id="controls">
                  <button id="listenButton">Listen</button>
                  <button id="stopButton" disabled>Stop</button>
               </div>
            </div>
            <div class="u-pull-left six columns">
               <input type="file" class="u-pull-right" accept="audio/*" id="uploadButton">
               <label for="uploadButton">Upload</label>
            </div>
         </div>
      </div>
      <div class="container u-full-width" id="graphContainer">
         <div id="my_dataviz" class="svg-container"></div>
      </div>
         
      

   </body>
   
<link rel="stylesheet" href="../static/css/normalize.css">
<link rel="stylesheet" href="../static/css/skeleton.css">
<link rel="stylesheet" href="../static/css/custom.css">

<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sed.js') }}"></script>
<script src="{{ url_for('static', filename='js/recorder.js') }}"></script>